<!-- Grafana Faro RUM -->
<script>
  (function () {
    var webSdkScript = document.createElement("script");
    webSdkScript.src =
      "https://unpkg.com/@grafana/faro-web-sdk@2/dist/bundle/faro-web-sdk.iife.js";
    webSdkScript.onload = () => {
      window.GrafanaFaroWebSdk.initializeFaro({
        url: "https://faro-collector-prod-us-west-0.grafana.net/collect/f3fdf797b4f35324bf57d9e89c80619f",
        app: {
          name: "blog-trenigma-dev",
          version: "1.0.0",
          environment: "production",
        },
        instrumentations: [
          ...window.GrafanaFaroWebSdk.getWebInstrumentations(),
        ],
      });
      var webTracingScript = document.createElement("script");
      webTracingScript.src =
        "https://unpkg.com/@grafana/faro-web-tracing@2/dist/bundle/faro-web-tracing.iife.js";
      webTracingScript.onload = () => {
        window.GrafanaFaroWebSdk.faro.instrumentations.add(
          new window.GrafanaFaroWebTracing.TracingInstrumentation()
        );
      };
      document.head.appendChild(webTracingScript);
    };
    document.head.appendChild(webSdkScript);
  })();
</script>
